<h2>CuongVuViet</h2>
<p>Thank you <%= name %> for your order!</p>
<p>We will process your order as soon as possible.</p>
<p>Link facebook: https://www.facebook.com/cuong.vu.525353 </p>
<p>Best regards, i love you so much!</p>
<% if (orderId) { %>
    <p>Your order ID is: <%= orderId %></p>
<% } %>