<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <header>
      <h1>Đây là header của trang</h1>
    </header>
    <%- body %>
    <footer>
      <h1>Đây là footer của trang</h1>
    </footer>
    <script src="/assets/script.js"></script>
  </body>
</html>
