# dependencies
node_modules/

# build
dist/
build/

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# cache
.cache/
.parcel-cache/

# coverage
coverage/

# typescript
*.tsbuildinfo
src/generated
